[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
opencv-python-headless = "*"
requests = "*"
python-dotenv = "*"
numpy = "*"
av = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
